/****************About Section CSS Code***************/

.about {
  align-items: center;
  padding-top: 4.2rem;
  color: var(--color-midnight-blue);

  &__left {
    max-width: 55.5rem;
  }
  &__heading {
    color: var(--color-midnight-blue);
    font-size: 5rem;
    font-weight: 500;
    line-height: 7rem;

    &__bold {
      font-weight: 700;
    }
  }
  &__paragraph {
    padding: 2rem 0 5rem;
    &__bold {
      font-weight: 500;
    }
  }

  &__illustration {
    width: 100%;
    height: 38.3rem;
  }

  &__bottom {
    position: relative;
    grid-column: 1/-1;
    height: 20rem;
    width: 114rem;
    margin-top: 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    &::after {
      content: "";
      position: absolute;
      background: url(../assets/bluredRectangle2.svg) no-repeat top;
      background-size: cover;
      width: 100%;
      height: 30rem;
      left: 50%;
      top: -2rem;
      transform: translateX(-50%);
      z-index: -1;
    }

    &__column {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3.7rem 9.1rem;
      gap: 3.65rem;
      height: 12.6rem;

      &__icon {
        background-color: var(--color-petal-white);
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .fa {
          font-size: 2rem;
          color: var(--color-fireburst-red);
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &__counts {
          font-size: 2.5rem;
          font-weight: 700;
        }
        &__item {
          font-size: 2rem;
          font-weight: 400;
          color: var(--color-charcoal-blue);
        }
      }

      &:nth-child(2) {
        border-left: 0.2rem solid #eeeff2;
        border-right: 0.2rem solid #eeeff2;
        padding: 0 12rem;
      }
    }
  }
}
