/***************CSS Initialization code***************/
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: var(--background-color);
}