/*Responsive Design CSS Code*/

@media (max-width: 1024px) {  /*Computer Responsive Design*/
  html {
    font-size: 50%;
  }
  .cards-container {
    width: 100vw;
    margin-left: 6rem;
  }
}

@media (max-width: 800px) {  /*Tablet Responsive Design*/
  html {
    font-size: 35%;
  }
  .header .logo {
    width: calc(149px * 0.55);
  }
  .card__image {
    width: calc(50px * 0.55);
  }
  .footer__logo {
    width: calc(149px * 0.55);
  }
}

@media (max-width: 500px) {  /*Mobile Responsive Design*/
  html {
    font-size: 45%;
    overflow-x: hidden;
  }
  .container {
    width: 100vw;
    margin: 10rem 0 0 0;
    padding: 0 2.3rem;
  }
  .di-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .paragraph {
    max-width: 100%;
  }
  .header {
    padding: 2.3rem 2.3rem;

    .navigation {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      width: 100%;
      justify-content: center;
      left: 50%;
      transition: var(--transition-timing);
      margin-bottom: 0;
      gap: 1.5rem;
    }
    
    .sign-in-up {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      justify-content: center;
      width: 100%;
      left: 50%;
      transition: var(--transition-timing);
      padding-bottom: 2rem;
    }
    .logo-container{
      position: absolute;
      width: 100;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
    }
    .logo {
      width: 14.9rem;
    }
    .burger-menu {
      width: 5rem;
      height: 5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__bar {
        height: 0.25rem;
        width: 100%;
        background-color: black;
        transition: var(--transition-timing);
        border-radius: 1rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
    .burger-menu-checkbox:checked {
      & ~ .burger-menu .burger-menu__bar:nth-child(2) {
        opacity: 0;
      }
      & ~ .burger-menu .burger-menu__bar:nth-child(1) {
        transform: translateY(1.25rem) rotate(45deg);
      }
      & ~ .burger-menu .burger-menu__bar:nth-child(3) {
        transform: translateY(-1.25rem) rotate(-45deg);
      }
      & ~ .sign-in-up{
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 100%);
        background-color: var(--background-color);
      }
      & ~ .navigation{
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 2rem);
        background-color: var(--background-color);
        padding: 5rem 0;
      }
    }
  }
  .about {
    justify-items: center;
    text-align: center;
    &__left {
      grid-row: 2;
    }
    &__right {
      grid-row: 1;
      width: 100%;
      height: auto;
      margin: 0;
    }
    &__illustration {
      height: fit-content;
    }
    &__bottom {
      grid-template-columns: 1fr;
      width: 100%;
      height: fit-content;
      justify-items: center;
      &::after {
        height: 50rem;
        width: 100vw;
        top: 2rem;
        left: 20rem;
        filter: blur(1rem);
      }
      &__column {
        width: 18.25rem;
        justify-content: left;
        padding: 0 !important;
        border: none !important;
        position: relative;
        &__details{
          display: flex;
          flex-direction: column;
          align-items: start;
        }
      }
    }
  }
  .features {
    width: 100%;
    text-align: center;
    display: block;
    &__image {
      width: 100%;
      height: auto;
      margin: 0 !important;
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
      text-align: left;
    }
  }
  .pricing {
    &__plans {
      flex-direction: column;
      width: 100%;
      .plan {
        width: 100%;
        height: 100%;
        padding: 2rem 0;
        &__list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 1rem;
          text-align: left;
          margin-bottom: 3rem;
        }
      }
    }
  }
  .world {
    &__map {
      width: 100%;
    }
  }
  .sponsored {
    width: 100%;
  }
  .testimonials {
    &__cards {
      justify-content: left;
      .cards-container {
        justify-content: center;
        width: 100%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .card:not(:first-child) {
        display: none;
      }
    }
    .slide {
      width: 100%;
      padding: 0 2rem;
    }
  }
  .subscribe {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    .paragraph {
      justify-content: center;
    }
    &::after {
      height: 40rem;
      top: -9rem;
    }
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    .copyrights {
      grid-row: 1/-1;
    }
    &::before {
      height: auto;
      top: 0;
      bottom: 0;
    }
    .lists {
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 6.3rem;
      margin-bottom: 5rem;
    }
  }
}
