@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/********************CSS Variables********************/
:root {
  --container-width: 115rem;

  --color-midnight-blue: #0b132a;
  --color-charcoal-blue: #4f5665;
  --color-gray: #f8f8f8;

  --color-fireburst-red: #f53838;
  --color-neon-rose: #f53855;

  --color-tropical-green: #2fab73;

  --color-petal-white: #ffecec;
  --background-color: #ffffff;

  --padding-top-bottom: 1.6rem;
  --padding-left-right: 0.8rem;

  --border-radius: 1rem;

  --transition-timing: 0.3s;
}